@media (max-width :1028px){
    .topcontainer{
        text-align: center;
    }
    .education{
        text-align: center;
    }
    .skills{
        text-align: center;
    }
    .edu{
        width:100%;
    }
}

.topcont{
    background-image: linear-gradient(rgb(5, 131, 125), rgba(0, 241, 80, 0.993), rgb(5, 131, 125));              
}
.navigation_bar{
    font-family: 'Mochiy Pop P One', sans-serif;
    padding:20px 0px;
}
.topcontainer{
    margin: 7% 3% 0% 3%;
    /* text-align: center; */
    padding:50px 100px 100px 100px;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.content{
    padding-top:100px;
    padding-left:50px;
}
a{
    text-decoration: #fff;
}
.myimg{
    height: 300px;
    border-radius:150px;
}
.middlecontainer1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 100px;
    background-image: linear-gradient(rgba(86, 85, 165, 0.822),rgba(156, 8, 255, 0.938), rgb(255,255,255));    
}
.middlecontainer2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding:100px;
    background-image: linear-gradient(red, Blue );
}
.skills{
    padding: 60px 0px;
}
.education{
    padding:60px,0px;
}
.edu{
    display:inline-block;
    width:33%;
}
.alert{
    text-align: center;
}
.footer{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding:50px 0;
    text-align:center;
    background-color: aquamarine;
    }
.footer-link{
    margin:10px 20px;
    color: #000;
}